<html>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
    <div ng-app="app" ng-controller="controller">
        Create A New Account <br>
        Username <br>
        <input type="text" ng-model="username"> <br>
        Password <br>
        <input type="text" ng-model="password"> <br>
        
        <input type="button" value="Create Account" ng-click="login()">
        
    </div>
    
    <script>
        var app = angular.module("app", []);
        app.controller("controller", function($scope){
            $scope.login = function(){
                //javascript goes here
                
                if(add(&scope.username, $scope.password)){
                    alert("User Creation Successful");
                    window.location.href = "login.html";

                }
            }
        });
        
        function add(username, password){
            
            var arr = [username: username, password: password];
            
            $.ajax({
                url: '/addUser',
                type: 'POST',
                data: JSON.stringify(arr),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(msg) {
                   return(msg);
                }
            });
        }
    </script>
    
    
</html>