<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RecipeShopper Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="custom.css" rel="stylesheet" type="text/css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
    
    
    <script>
        var app = angular.module("app", []);
        app.controller("controller", function($scope){
            $scope.login = function(){
                //javascript goes here
                
                if(add(&scope.username, $scope.password)){
                    alert("User Creation Successful");
                    window.location.href = "login.html";

                }
            }
        });
        
        function add(username, password){
            
            var arr = [username: username, password: password];
            
            $.ajax({
                url: '/addUser',
                type: 'POST',
                data: JSON.stringify(arr),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(msg) {
                   return(msg);
                }
            });
        }
    </script>
    </head>
    <body>
    
    <div ng-app="app" ng-controller="controller">
        <h1>Create A New Account </h1>
        <h4>Username</h4>
        <input type="text" ng-model="username"> <br>
        <h4>Password</h4>
        <input type="text" ng-model="password"> <br>
        
        <input type="button" class="btn btn-warning" value="Create Account" ng-click="login()">
        
    </div>
    </body>
    <style>
    div {
    background-color: cadetblue;
    height: 20;
    padding: 2;
}</style>
</html>
